
/* 全局样式 */
*{margin:0;padding:0;box-sizing: border-box;}

html,body,#app{
    height: 100%;
    min-width: 1366px;
}

.d-f{
    display: flex;
}
.ai-c{
    align-items: center;
}
.jc-c{
    justify-content: center;
}
.jc-sb{
    justify-content: space-between;
}
.jc-e{
    justify-content: flex-end;
}
.mt-20{
    margin-top: 20px;
}
.mb-20{
    margin-bottom: 20px;
}
.ta-c{
    text-align: center;
}
.bdtop{
    border-top: 1px solid #eee;
}
.bdbottom{
    border-bottom: 1px solid #eee;
}